<%= form_with model: department do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    </div>

  <div>
    <%= form.label :contact %><br>
    <%= form.telephone_field:contact %>
   </div>
  <div>
    <%= form.label :email %><br>
    <%= form.email_field:email %>
    </div>
  <div>
    <%= form.label :department_id %><br>
    <%= form.text_field :department_id %>
   </div>
  <div>
    <%= form.label :course %><br>
    <%= form.collection_select(:course_id, Course.all, :id, :name) %>
    </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>



