
<h1><%=@student.name%></h1>
<p><%=@student.contact%><br>
<%=@student.email%><br>
<%=@student.department.name%><br>
<%=@student.course.name%></p>

<ul>
  <li><%= link_to "Edit", edit_department_student_path(@student) %></li>
  <li><%= link_to "Destroy", department_student_path(@student),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>
</ul>
